<div class="section content">
    <p class="title-sub">Area of Expertise</p>
    <div class="skillcontainer bottomspace">
        <div class="skill">Web App Development</div>
        <div class="skill">Mobile App Development</div>
        <div class="skill">Machine Learning</div>
        <div class="skill">Big Data Analytics</div>
    </div>
</div>
<div class="section content">
    <p class="title-sub">Certifications</p>
    <div class="skillcontainer bottomspace">
        <div class="single-work">
            <a href="https://coursera.org/share/5e8519d6471f8350cae392f6cd10cd9a" target="_blank" rel="noopener">
                <img class="effect" src="../../assets/fsd.png" width="200" height="auto" alt="Full Stack Development Cerificate">
               
            </a>
        </div>
        <div class="single-work">
            <a href="https://coursera.org/share/86987aadeb4185dbe4fb70c700628c13" target="_blank" rel="noopener">
                <img class="effect" src="../../assets/ml.png" width="200" alt="Machine Learning Cerificate">
                
            </a>
        </div>
    </div>
</div>

